/* navbar */
.navbar {
  box-shadow: none;
  font-family: "Habibi";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.34px;
  padding-top: 0;
  height: 101px; }
  .navbar .collapse {
    -ms-flex-pack: end;
        justify-content: flex-end;
    height: 100%; }
  .navbar .container {
    height: 100%; }
  .navbar .navbar-brand {
    width: 215px; }
  .navbar .navbar-nav {
    height: 100%; }
  .navbar .nav-item {
    padding-bottom: 24px; }
    .navbar .nav-item:hover .nav-link {
      background-color: #dd7492;
      color: #fff !important; }
    .navbar .nav-item .nav-link {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: end;
          align-items: flex-end;
      padding: 10px 13px;
      color: #3f4151 !important; }

.navbar-logo {
  max-width: 100%;
  height: auto; }

.nav-icon {
  margin-right: 15px; }

.contact-box {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px; }

.nav-link-frame {
  padding-bottom: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end; }

.navbar-link {
  color: #3f4151 !important;
  padding-bottom: 10px; }

.navbar-link--left {
  margin-right: 20px; }

/* hero */
.hero {
  height: 600px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: "Habibi";
  color: #3f4151; }

.carousel-frame {
  border-top: 13px solid #ffffff79;
  border-right: 13px solid #ffffff79;
  border-left: 13px solid #ffffff79;
  padding: 40px;
  position: relative;
  z-index: 1; }

.carousel-frame::before {
  content: "";
  height: 13px;
  background: #ffffff79;
  bottom: 0;
  display: block;
  width: 22%;
  position: absolute;
  left: 0; }

.carousel-frame::after {
  content: "";
  height: 13px;
  background: #ffffff79;
  bottom: 0;
  display: block;
  width: 66%;
  position: absolute;
  right: 0; }

.carousel {
  width: 100%; }
  .carousel .carousel-indicators {
    margin: 0;
    right: unset;
    bottom: 68px;
    left: 38.8%; }
    .carousel .carousel-indicators li {
      width: 16px;
      height: 26px;
      background: #ffffff79;
      border-radius: 0;
      border: none;
      margin: 0 8px;
      opacity: 1; }
    .carousel .carousel-indicators .active {
      background-color: #dd7492; }

.hero-title-box {
  margin-bottom: 50px;
  position: relative; }

.hero-paragraph {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  margin-bottom: 50px; }

.hero-link {
  background-color: #dd7492;
  padding: 13px 21px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  letter-spacing: -0.34px; }

.hero-title {
  font-size: 51px;
  font-weight: 400;
  letter-spacing: -1.12px;
  margin: 0;
  position: relative; }

.hero-title-shadow {
  position: absolute;
  opacity: 0.1;
  color: #3f4151;
  font-family: "Habibi";
  font-size: 55px;
  font-weight: 400;
  letter-spacing: -1.12px;
  left: -28px;
  right: -28px;
  top: -8px; }

.hero-desc {
  font-size: 14.5px;
  font-weight: 400;
  letter-spacing: -0.32px; }

.hero-img1, .hero-img2 {
  position: absolute;
  z-index: 1;
  bottom: -134px;
  width: 150%;
  left: -24px; }

.carousel-inner {
  height: 600px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.carousel-box {
  width: 100%; }

.carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.carousel-inner .active {
  display: -ms-flexbox !important;
  display: flex !important; }

.slide1 {
  background-image: url("../img/header_background1.jpg"); }

.slide2 {
  background-image: url("../img/header_background2.jpg"); }

.slide3 {
  background-image: url("../img/header_background3.jpg"); }

/* main content */
.default-section {
  padding: 104px 0 52px;
  font-family: "Habibi";
  color: #3f4151; }

.section-img {
  width: 684px;
  height: 442px;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  padding: 40px; }

.sec-img1 {
  background-image: url("../img/img-1.jpg"); }

.sec-img2 {
  background-image: url("../img/img2.jpg"); }

.sec-img3 {
  background-image: url("../img/img-3.jpg"); }

.sec-img4 {
  background-image: url("../img/img4.jpg"); }

.border-container {
  border-bottom: 4px solid #ece6e8c5;
  border-right: 4px solid #ece6e8c5;
  border-left: 4px solid #ece6e8c5;
  height: 100%;
  position: relative;
  margin-left: -70px;
  margin-top: -35px;
  padding: 0 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  z-index: 4; }

.left-side {
  margin-left: 0;
  margin-right: -70px; }

.border-container::before {
  content: "";
  height: 4px;
  background: #ece6e8c5;
  top: 0;
  left: 0;
  display: block;
  width: 15%;
  position: absolute; }

.border-container::after {
  content: "";
  height: 4px;
  background: #ece6e8c5;
  top: 0;
  right: 0;
  display: block;
  width: 15%;
  position: absolute; }

.default-title {
  color: #3f4151;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.6px; }

.header-box {
  position: absolute;
  top: -25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  left: 0;
  right: 0;
  z-index: 8; }

.default-header {
  color: #3f4151;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.8px;
  text-align: center;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.default-header-shadow {
  position: absolute;
  opacity: 0.1;
  color: #3f4151;
  font-family: "Habibi";
  font-size: 46px;
  font-weight: 400;
  letter-spacing: -0.8px;
  bottom: 0; }

.default-button-link {
  background-color: #dd7492;
  padding: 13px 21px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-family: "Habibi";
  letter-spacing: -0.34px;
  width: 147px;
  text-align: center; }

.default-button-link--morewidth {
  width: 153px; }

.default-paragraph {
  color: #3f4151;
  font-size: 17.5px;
  font-weight: 400;
  letter-spacing: -0.32px;
  margin-bottom: 50px; }

/*style section*/
.default-section2 {
  font-family: "Habibi";
  background-image: url("../img/section-background.jpg");
  background-size: cover;
  padding-top: 100px; }
  .default-section2 .section-up-container {
    border-right: 13px solid #ece6e8c5;
    border-left: 13px solid #ece6e8c5;
    position: relative;
    padding-top: 90px; }
    .default-section2 .section-up-container::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      height: 13px;
      width: 25%;
      background: #ece6e8c5; }
    .default-section2 .section-up-container::after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      content: "";
      height: 13px;
      width: 25%;
      background: #ece6e8c5; }
  .default-section2 .style-title {
    color: #3f4151;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.8px; }
  .default-section2 .style-subtitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px; }
  .default-section2 .default-header-box {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: -30px; }
  .default-section2 .style-cursive-title {
    color: #3f4151;
    font-family: "Pacifico";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.6px;
    margin-top: 16px;
    margin-bottom: 25px; }
  .default-section2 .col-lg-4 {
    text-align: center; }
  .default-section2 .style-paragraph {
    color: #3f4151;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px; }

.down-section {
  padding-top: 0;
  background: none; }
  .down-section .default-header-box {
    bottom: -35px;
    top: unset; }
  .down-section .container:nth-child(1) {
    border-right: 13px solid #ece6e8c5;
    border-left: 13px solid #ece6e8c5;
    position: relative;
    height: 90px; }
    .down-section .container:nth-child(1)::before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      content: "";
      height: 13px;
      width: 25%;
      background: #ece6e8c5; }
    .down-section .container:nth-child(1)::after {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: "";
      height: 13px;
      width: 25%;
      background: #ece6e8c5; }

.most-ofen-chosen {
  padding-top: 102px; }
  .most-ofen-chosen .offer-container {
    border-left: 4px solid #ece6e8;
    border-right: 4px solid #ece6e8;
    padding: 45px;
    position: relative;
    margin-bottom: 86px; }
    .most-ofen-chosen .offer-container::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      height: 4px;
      width: 18%;
      background: #ece6e8; }
    .most-ofen-chosen .offer-container::after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      content: "";
      height: 4px;
      width: 18%;
      background: #ece6e8; }
    .most-ofen-chosen .offer-container .left-border,
    .most-ofen-chosen .offer-container .right-border {
      position: absolute;
      bottom: 0;
      display: block;
      content: "";
      height: 4px;
      width: 35%;
      background: #ece6e8; }
    .most-ofen-chosen .offer-container .left-border {
      left: 0; }
    .most-ofen-chosen .offer-container .right-border {
      right: 0; }
  .most-ofen-chosen .offer-link {
    color: #ffffff;
    font-family: "Habibi";
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.34px;
    background-color: #dd7492;
    display: inline-block;
    padding: 12px 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -21px; }
  .most-ofen-chosen .offer-header-box {
    position: relative;
    margin-top: -58px;
    text-align: center;
    margin-bottom: 56px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    .most-ofen-chosen .offer-header-box .offer-title {
      position: absolute;
      color: #3f4151;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: -0.8px; }
    .most-ofen-chosen .offer-header-box .offer-title-shadow {
      position: absolute;
      color: #3f4151;
      opacity: 0.2;
      font-size: 26px;
      bottom: -33px;
      font-weight: 400;
      letter-spacing: -0.8px; }

.main-footer {
  background-color: #2c2d38;
  color: #ffffff;
  font-family: "Habibi";
  font-size: 16px;
  font-weight: 400; }
  .main-footer .top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: 66px;
    border-bottom: 1px solid #f8fcfa65;
    -ms-flex-align: center;
        align-items: center; }
  .main-footer a {
    color: #ffffff; }
  .main-footer .footer-icon {
    margin-right: 10px; }
  .main-footer .middle {
    padding: 20px 0;
    border-bottom: 1px solid #f8fcfa65; }
    .main-footer .middle .footer-link {
      display: block;
      margin-bottom: 5px; }
  .main-footer .social-link {
    margin: 0 8px; }
  .main-footer .bottom {
    display: -ms-flexbox;
    display: flex;
    height: 66px;
    -ms-flex-align: center;
        align-items: center; }
    .main-footer .bottom .copyrights {
      font-size: 14px;
      color: #ffffff;
      font-weight: 400;
      letter-spacing: -0.22px; }

/*----------------------------MEDIA QUERIES------------------------------*/
@media (max-width: 1199px) {
  .navbar {
    font-size: 14px; }

  .navbar .navbar-brand {
    width: 150px; }

  .contact-box {
    margin-right: 10px; }

  .nav-icon {
    margin-right: 13px; }

  /* hero */
  .hero-title {
    font-size: 42px; }

  .hero-title-shadow {
    font-size: 47px; }

  .hero-img1 {
    bottom: -120px;
    width: 175%;
    left: -5px; }

  /*sections*/
  .down-section .container:nth-child(1)::after,
  .down-section .container:nth-child(1)::before {
    width: 18%; }

  .most-ofen-chosen .offer-header-box .offer-title-shadow {
    font-size: 24px; }

  .most-ofen-chosen .offer-container .left-border,
  .most-ofen-chosen .offer-container .right-border {
    width: 31%; } }
@media (max-width: 991px) {
  .navbar .collapse {
    height: unset; }

  .navbar {
    height: unset; }

  .nav-link-frame {
    padding: 0; }

  .navbar-link {
    padding: 0; }

  .navbar .nav-item {
    padding: 0;
    margin-bottom: 10px; }

  .navbar .nav-item .nav-link {
    -ms-flex-pack: center;
        justify-content: center; }

  .contact-box {
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin-bottom: 10px; }

  /*-hero*/
  .hero,
  .carousel-inner {
    height: 520px; }

  .hero-title {
    font-size: 30px; }

  .hero-title-shadow {
    font-size: 35px; }

  .hero-desc {
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: -0.32px; }

  .hero-title-box {
    margin-bottom: 43px; }

  .hero-paragraph {
    font-size: 15px;
    margin-bottom: 30px; }

  .hero-img1 {
    bottom: -149px;
    width: 236%;
    left: -5px; }

  /*default sections*/
  .default-order-1 {
    -ms-flex-order: 2;
        order: 2; }

  .default-order-2 {
    -ms-flex-order: 1;
        order: 1; }

  .border-container {
    margin: 80px 0 0 0;
    padding: 33px;
    text-align: center; }

  .default-button-link {
    margin: 0 auto; }

  .default-section2 .style-title {
    font-size: 33px; }

  main .last-section {
    padding-bottom: 120px; }

  .most-ofen-chosen .offer-container::after,
  .most-ofen-chosen .offer-container::before {
    width: 28%; }

  /*footer*/
  .main-footer .top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: auto;
    padding: 5px 0; }
    .main-footer .top a {
      margin-bottom: 10px; }
  .main-footer .middle {
    text-align: center; }
    .main-footer .middle .footer-link {
      margin-bottom: 8px; }
    .main-footer .middle .col-lg-2, .main-footer .middle .col-lg-3 {
      margin-bottom: 15px; }
  .main-footer .bottom .copyrights {
    font-size: 12px; } }
@media (max-width: 767px) {
  /*hero*/
  .hero-img1, .hero-img2 {
    display: none; }

  .hero,
  .carousel-inner {
    height: 462px; }

  .hero-title {
    font-size: 35px; }

  .hero-title-shadow {
    font-size: 41px; }

  .hero-title-box {
    margin-bottom: 30px; }

  /*default scetion*/
  .default-header {
    font-size: 33px; }

  .default-header-shadow {
    font-size: 37px; }

  .border-container::after {
    width: 13%; }

  .border-container::before {
    width: 13%; }

  .default-section2 .style-title {
    font-size: 25px; }

  .down-section .container:nth-child(1) {
    height: 64px; }

  .most-ofen-chosen .offer-container::after,
  .most-ofen-chosen .offer-container::before {
    width: 21%; } }
@media (max-width: 575px) {
  .contact-box {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    .contact-box .navbar-link--left {
      margin: 0 0 12px 0; }

  .carousel-frame {
    padding: 29px;
    margin: 20px 0; }

  .hero,
  .carousel-inner {
    height: unset;
    min-height: 462px;
    text-align: center; }

  .hero-title {
    font-size: 36px; }

  /*default sections*/
  .border-container {
    padding: 33px;
    min-height: 330px; }

  .default-section {
    padding: 43px 0 52px; }

  .section-img {
    background-position: left bottom;
    height: 200px;
    padding: 20px;
    background-size: cover; }

  .default-title {
    font-size: 18px; }

  .default-header {
    font-size: 21px; }

  .default-header-shadow {
    font-size: 25px; }

  .header-box {
    top: -11px; }

  .default-paragraph {
    font-size: 14.5px; } }
@media (max-width: 439px) {
  .down-section .container:nth-child(1)::after,
  .down-section .container:nth-child(1)::before {
    width: 5%; }

  .most-ofen-chosen .offer-container::after,
  .most-ofen-chosen .offer-container::before {
    width: 16%; }

  .most-ofen-chosen .offer-container .left-border,
  .most-ofen-chosen .offer-container .right-border {
    width: 26%; }

  .default-section2 .style-title {
    font-size: 19px; }

  .default-section2 .style-subtitle {
    font-size: 12px; }

  .down-section .default-header-box {
    bottom: -23px; }

  .most-ofen-chosen .offer-header-box .offer-title {
    font-size: 18px; }

  .most-ofen-chosen .offer-header-box .offer-title-shadow {
    font-size: 19px;
    bottom: -26px; }

  .most-ofen-chosen {
    padding-top: 64px; }

  .offer-paragraph {
    font-size: 14px; }

  .most-ofen-chosen .offer-link {
    font-size: 13px;
    bottom: -18px; } }
/* --- media for carousel indicators --- */
@media (max-width: 2492px) {
  .carousel .carousel-indicators {
    left: 38.6%; } }
@media (max-width: 2399px) {
  .carousel .carousel-indicators {
    left: 38.1%; } }
@media (max-width: 2281px) {
  .carousel .carousel-indicators {
    left: 37.5%; } }
@media (max-width: 2167px) {
  .carousel .carousel-indicators {
    left: 36.9%; } }
@media (max-width: 2081px) {
  .carousel .carousel-indicators {
    left: 36.2%; } }
@media (max-width: 1995px) {
  .carousel .carousel-indicators {
    left: 35.6%; } }
@media (max-width: 1909px) {
  .carousel .carousel-indicators {
    left: 35%; } }
@media (max-width: 1832px) {
  .carousel .carousel-indicators {
    left: 34.4%; } }
@media (max-width: 1746px) {
  .carousel .carousel-indicators {
    left: 33.6%; } }
@media (max-width: 1660px) {
  .carousel .carousel-indicators {
    left: 32.9%; } }
@media (max-width: 1587px) {
  .carousel .carousel-indicators {
    left: 32.1%; } }
@media (max-width: 1519px) {
  .carousel .carousel-indicators {
    left: 31.3%; } }
@media (max-width: 1446px) {
  .carousel .carousel-indicators {
    left: 30.3%; } }
@media (max-width: 1381px) {
  .carousel .carousel-indicators {
    left: 29.5%; } }
@media (max-width: 1345px) {
  .carousel .carousel-indicators {
    left: 28.7%; } }
@media (max-width: 1281px) {
  .carousel .carousel-indicators {
    left: 27.7%; } }
@media (max-width: 1222px) {
  .carousel .carousel-indicators {
    left: 26.7%; } }
@media (max-width: 1199px) {
  .carousel .carousel-indicators {
    bottom: 61px;
    left: 28.4%; }

  .carousel-frame::before {
    width: 20%; } }
@media (max-width: 1117px) {
  .carousel .carousel-indicators {
    left: 27%; } }
@media (max-width: 1062px) {
  .carousel .carousel-indicators {
    left: 26%; } }
@media (max-width: 1007px) {
  .carousel .carousel-indicators {
    left: 24.5%; } }
@media (max-width: 991px) {
  .carousel .carousel-indicators {
    bottom: 36px;
    left: 31.2%; }

  .carousel-frame::after {
    width: 62%; } }
@media (max-width: 941px) {
  .carousel .carousel-indicators {
    left: 30.2%; } }
@media (max-width: 891px) {
  .carousel .carousel-indicators {
    left: 29%; } }
@media (max-width: 841px) {
  .carousel .carousel-indicators {
    left: 28%; } }
@media (max-width: 805px) {
  .carousel .carousel-indicators {
    left: 26.8%; } }
@media (max-width: 782px) {
  .carousel .carousel-indicators {
    left: 26.1%; } }
@media (max-width: 767px) {
  .carousel-frame::after {
    width: 57%; }

  .carousel .carousel-indicators {
    bottom: 23px;
    left: 32.1%; } }
@media (max-width: 717px) {
  .carousel-frame::after {
    width: 54%; } }
@media (max-width: 649px) {
  .carousel .carousel-indicators {
    left: 30.1%; } }
@media (max-width: 585px) {
  .carousel .carousel-indicators {
    left: 28.1%; } }
@media (max-width: 575px) {
  .carousel .carousel-indicators {
    bottom: 10px;
    left: 26.1%; }

  .carousel-frame::after {
    width: 46%; }

  .hero,
  .carousel-inner {
    min-height: unset; }

  .hero-link {
    margin-bottom: 30px; }

  .carousel .carousel-indicators li {
    margin: 0 11px; } }
@media (max-width: 416px) {
  .carousel-frame::after {
    width: 42%; } }
@media (max-width: 380px) {
  .carousel-frame::after {
    width: 39%; }

  .carousel .carousel-indicators {
    left: 27.1%; } }
@media (max-width: 344px) {
  .carousel-frame::after {
    width: 35%; } }

/*# sourceMappingURL=style.prefixed.css.map */